# True or False
IS_DEV=False

# OKX API KEYS
OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=

# OKX DEMO API KEYS
OKX_DEMO_API_KEY=
OKX_DEMO_SECRET_KEY=
OKX_DEMO_PASSPHRASE=

# GOOGLE EMAIL SENDER
GOOGLE_EMAIL_SENDER=
GOOGLE_EMAIL_PASSWORD=
EMAIL_TO=